DATABASE_URL=postgresql://username:password@localhost:5432/tutoring_center

JWT_SECRET_KEY=E7f4Xq9pL2vM8sT1yZ0kB3rQ6wHnJ5uR
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=120

SENDER_EMAIL=example@gmail.com
SENDER_PASSWORD=abcd efgh ijkl mnop
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587